h3 {
  margin-bottom: 20px;
}

.footer {
  background-color: #CCCCCC;
}

.textAling {
  padding-top: 30px;
  padding-left: 25px !important;
  padding-bottom: 50px;
}

.paragraph {
  font-weight: 300;
  font-size: 22px;
}

.paragraph a {
  font-weight: 300;
  font-size: 22px;
  text-decoration: none;
  color: #212529;
}

.paragraph a:hover {
  color: #33BDD8;
  cursor: pointer;
}