.textAling {
  align-items: center;
  text-align: center;
}


.lastPItem {
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.bgColor {
  background-color: #2A2A28;
}

.contentRow {
  margin-bottom: 50px;
}


.contentA {
  align-items: center;
  text-align: center;

  color: white;
  background-color: #2A2A28;
}

.contentB {
  color: white;
  background-color: #8FB996;  
}