.overlay {
  background-color: rgba(0, 0, 0, 0.15 );
  z-index: 1;
}

.bgImg {
  height: 510px;
  padding: 0;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: url("../images/BackgroundImage.png");
  background-size: cover;
  z-index: -1;
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
}

.hero p {
  font-size: 20px;
  font-weight: 300;
}

.buttonDiv {
  margin-top: 3.125rem;
  width: 300px;
  /* display: grid; */
}

.button { 
  width: 100%;
}
.button a{
  color: white;
  margin: auto;
}

.button a:hover {
  text-decoration: none;
}

.button a svg {
  margin-left: 5px;
  margin-bottom: 2px;
  height: 24px;
  width: 24px;
}
